{#
  description: Basic interface configuration for Huawei VRP 8.x devices
  safe: true
  changes_hostname: false
#}
{% for iface in interfaces %}
interface {{ iface.name }}
 ip address {{ iface.ip }} {{ iface.mask }}
 undo shutdown
 quit
{% endfor %}
